@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* Reset margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    z-index: 10000; /* Adjust as needed, should be higher than the cursor's z-index */
    pointer-events: auto;
    transition: color 0.3s ease;
    position: relative; /* z-index only works on positioned elements (position:absolute, position:relative, or position:fixed) */
  }  
  /* Ensure full height */
  html, body {
    height: 100%;
  }
  
  .cursor-dot,
.cursor-dot-outline {
    margin: auto;
    justify-content: center;
    pointer-events: none;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    z-index: 9999;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, border 0.3s ease-in-out;
}

.cursor-dot {
  position: fixed;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #F1838B;
}

.cursor-dot-outline {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  transform: translate(-50%, -50%);
}